.li1 {
	background-color: red;
}

.li2 {
	background-color: yellow;
}

.li3 {
	background-color: green;
}

.li4 {
	background-color: blue;
}
.li5 {
	background-color: gray;
}
.li6 {
	background-color: #faf;
}
.li7 {
	background-color: #abc;
}

.li8 {
	background-color: #111;
}
.li9 {
	background-color: #888;
}

ul {
	list-style-type:none;
	margin: 10;
	/*height : 30px;*/
	display: inline-block;
}

li {
	width: 50px;
	height: 50px;
	margin : 30px;
	float: left;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
#after .li1 {
	transform:rotate(30deg);
}
#after .li2 {
	transform:translate(10px,20px);
}
#after .li3 {
	transform:translateX(30px);
}

#after .li4 {
	transform:translateY(30px);
}
#after .li5 {
	transform:scale(2,1.5);
}
#after .li6 {
	transform:skew(30deg,10deg);
}
#after .li7 {
	transform:skewX(30deg);
}
#after .li8 {
	transform:skewY(30deg);
}

#after .li9 {
	transform:matrix(1,0,0,1,0,0);
}
/*
.container {
	float: none;
}*/

