@-webkit-keyframes myfirst
{
0%   {background:linear-gradient(0deg,white,blue);transform: rotate(30deg);}
25%  {background: yellow;}
50%  {background: blue;}
100% {background: green;}
}

h2{opacity:0.2;}

p{

background:linear-gradient(0deg,white,blue);
transform: rotate(30deg);
animation: myfirst 5s;
}
a{}