body>div{
	border:4px solid yellow;
}
div{
	background-color:#ddd;
}
.parent>div{
	background-color:red;
	border:1px solid blue;
}
.parent{
	background-color:yellow;
}

h3~p{
	border-top:1px solid red;
}
h3+p{
	border-top:12px solid red;
}