.linear{
	background:-ie-linear-gradient(30deg,red,blue);
}

.box-radius{
	border-radius:62px 12px 0px 0px;
	border:12px solid red;
	border-bottom:0px;
	width:100px;
	height:100px;
	padding:12px;
	user-defined:123;
}


body .test:nth-child(0):hover{
	background:red;
}

.test[title='123']{
color:blue;
}
