html{
	text-align:center;
	font-size:12px;
	background:#666;
	padding:20px;
	margin:0px;
}
body{
    width:780px;
    min-height:720px;
    text-align:left;
    margin:auto;
    padding:8px;
    background:#fefefe;
    border:3px double #DDD;
}
p{
	text-indent:24px;
}

a.ms-ref:after{
	content:'>>ref';
	background:#ddd;
	font-size:8px;
}
.detail{
	display:inline;
	font-size:11px;
	cursor:pointer;
	background:#ddd;
}
.detail div{
	display:none;
	background:#dddddd;
}
.detail:hover div{
	border:1px solid yellow;
	display:block;
	
}
.stable,.sandbox,.planning,.none{
	font-size:12px;
	font-weight:bold;
	border:inset 1px yellow;
}
.stable{
	background:#0f0;
}
.sandbox{
	background:#0ff; 
}
.planning{
	background:#ff0;
}
.none{
	background:#F00;
}
.back{
	float:right;
}
.native-version{
	background-color:#9f9;; 
}
.example{
	background-color:#e3e;
}
