html{
	text-align:center;
	font-size:12px;
	background:#666;
	padding:20px;
	margin:0px;
}
body{
    width:780px;
    min-height:720px;
    text-align:left;
    margin:auto;
    padding:8px;
    background:#fefefe;
    border:3px double #DDD;
}
p{
	text-indent:24px;
}
a.issues{
	font-size:8px;
	line-height:8px;
    background:#ddd;
	border:1px solid red;
}
.dev-time{
	font-style:italic;
	background:#dd0;
	padding-left:20px;
	display:none;
}
a.ms-ref:after{
	content:'>>ref';
	background:#ddd;
	font-size:8px;
}
.detail{
	display:inline;
	font-size:11px;
	cursor:pointer;
	background:#ddd;
}
.detail div{
	display:none;
	background:#dddddd;
}
.detail:hover div{
	border:1px solid yellow;
	display:block;
	
}
.stable,.sandbox,.planning,.none,.native{
	font-size:12px;
	font-weight:bold;
	padding:2px;
	border:inset 1px yellow;
	margin-right:10px;
}
b.stable,b.sandbox,b.planning,b.none{
	font-style:italic;
	font-weight:normal;
	color:#333;
}
.stable{
	background:#0f0;
}
.sandbox{
	background:#0ff; 
}
.planning{
	background:#ff0;
}
.none{
	background:#a66;
}
.native{
	color:blue;
	background:#eee;
	padding:0;
	border:solid 3px red;
	font-style:normal;
}

.support{
	background-color:#eee;; 
}
.support::before{
	content:'支持情况:';
	background:#ccc;
	font-weight:bold;
}


.back{
	float:right;
}

.hover-child *,.hover-child-ul ul{
	cursor:pointer;
	display:none;
}
.hover-child:hover *,.hover-child-ul:hover ul{
	display:block;
}
.example *{
	background-color:#e3e;
	color:#FFF;
}
.gitbug{
	width:42px;
	height:11px;
	display:inline-block;
	margin:10px 0 0 10px;
	cursor:pointer;
	color:#666;
	font-weight:bold;
	font-size:8px;
	position:relative;
}
.gitbug a{
	color:blue;
}
.gitbug strong,.gitbug span{
	color:#666;
	width:14px;
	background:#dd0;
	display:inline-block;
	border-radius:2px 0 0 2px;
	border:1px outset #dd0;
}
.gitbug span{
	background:#0d0;
	border-radius:0 2px 2px 0;
}
.gitbug ul,.gitbug:empty ul{
	background:#FFF;
	display:none;
}

.gitbug:hover ul{
	display:block;
	border:1px solid #300;
	width:120px;
	margin:0;padding:0;
}

.gitbug li{
	margin:0;padding:0;
	background:#0d0;
	overflow:hidden;
	text-overflow:ellipsis;
	height:12px;
	word-break:keep-all;
	border-bottom:1px solid white;
}
.gitbug li.unclosed{
	margin:0;padding:0;
	background:#dd0;
}
.gitbug li.report{
	background:#ff0;
	text-align:right;
	padding-right:12px;
}

.gitbug-form{
	position:absolute;
	top:100px;
	right:1px;
	width:180px;
	z-index:200;
	text-align:right;
}
.gitbug-form input{width:85px;}
.gitbug-form label{cursor:pointer;}
.gitbug-form fieldset{display:none}
.gitbug-form fieldset input{width:auto;}
.gitbug-form:hover fieldset{display:block}
