/** main.css **/

	body {
		margin:0;
		padding: 0;
		width: 100%;
		height: 100%;
		position: absolute;
        overflow: hidden;
		background: black;
	}
	html {
        *overflow: hidden;
	}
	a {
		text-decoration: none;
		color: #0088CC;
	}
	#cavas {
		position: relative;
        -webkit-transition: -webkit-transform 2s ease-in-out; 
        -moz-transition: -moz-transform 2s ease-in-out;
		transition: -webkit-transform 2s ease-in-out;


	}
	.slide {
		display: none;
		position: absolute;
		overflow: hidden;
		left: 50%;
		top: 50%;	
		width: 960px;
		height: 720px;
		margin-top: -360px;
		/*padding: 40px;*/

		font-family: 微软雅黑;
		background: white;
		/* background: -webkit-gradient(linear, left bottom, left top, from(#BBD), to(white));
		-webkit-transition: margin 0.25s ease-in-out;
		background-color: #EEE;
		background: -moz-linear-gradient(left bottom, #BBD, white);
		-moz-transition: margin 0.25s ease-in-out; */
		border: 1px solid #D9D9D9;
		border-top: none;
		border-bottom: none;
		/*box-shadow: 0 0 4px rgba(0, 0, 0, .1);*/
		box-shadow: 1px 1px 1px 0px #6CF;
		border-radius: 10px;

		transition: margin 0.5s ease-in-out; 
        -webkit-transition: margin 0.5s ease-in-out; 
        -ms-transition: margin 0.5s ease-in-out;
	}
  .slide:nth-child(even) {
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
  }
  
  .slide:nth-child(odd) {
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
  }

  .slide:active {
	outline: none;
  }
   .slide:focus {
	outline: none;
  }

/****切换****/
      .slide.far-past {
        display: block;
        margin-left: -2400px;
      }
      
      .slide.past {
        display: block;
        margin-left: -1490px;	/*-450-900-50*/

		opacity: 0.2;
		/*实现左倾斜效果*/
		/*-webkit-transform: translate(500px,150px) scale(0.6) rotateZ(50deg);        
		-moz-transform: translate(500px,150px) scale(0.6) rotateZ(50deg);
		-ms-transform: translate(500px,150px) scale(0.6) rotate(50deg);*/
		-webkit-transform: translate(500px,0)  scale(0.5) rotateZ(-50deg);        
		-ms-transform: translate(500px,0) scale(0.5) rotate(-50deg);
      }
      
      .slide.current {
        display: block;
        margin-left: -480px;
      }
      
      .slide.future {
        display: block;
        /*margin-left: 530px;	-450+900+50*/
		margin-left: 530px;
		opacity: 0.6;
		/* 实现缩小的效果*/
		-webkit-transform: translate(-384px,50px) scale(0.3) rotateZ(-50deg); 
		-ms-transform: translate(-384px,150px) scale(0.3) rotate(-50deg);
      }
      
      .slide.far-future {
        display: block;
        margin-left: 1500px;
      }


	/*content*/

	footer .site {
		color: #bdbdbd;
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: right;
		padding-right: 5px;
	}