div:before{
	background:red;
	content:'11';
	display:block;
	float:right;
	width:auto;height:50px;
}
body{
test:123;
color:red;
}
div .before{
	background:red;
	content:'11';
	display:block;
	float:right;
	width:auto;height:50px;
}