#outline .slide{
	display:inline-block;
	float:left;
	width:100px;height:100px;
	-webkit-transform:none;
	margin:2px;padding:0;
	left:auto;
	top:auto;
	position:static;
	opacity:1;
}
#outline .slide.current{
	-webkit-box-shadow:0 0 5px yellow;
	-webkit-transform:scale(1.1);
	background:yellow;
}
#outline .slide.current *{
	background:#cc0;
}
#outline .slide>article>*:nth-child(n+2),#outline .slide>*:not(article):nth-child(n+2){
	display:none;
}
#outline .slide *{
	width:auto;
	display:block;
	font-size:12px;
	text-align:center;
	padding:0;margin:0;
	background-image:none;
}