
/** PPT
#ppt-cover ****/
	.split1 {
		position: absolute;
		bottom: 330px;
		left: 0;
		width: 100%;
		text-align: right;
	}
	.split2 {
		position: absolute;
		top: 390px;
		left: 0;
		width: 100%;
		text-align: right;
	}
	.split {
		position: absolute;
		width: 100%;
		left: 0;
		top: 390px;
	}
	.split > img {
		position: absolute;
		top: -50px;
		left: 45px;
		z-index: 5;
	}
	.slide .line {
		margin-left: 100px;
		position: absolute;
		z-index: 4;
		width: 670px;
		right: 0;
		font-size: 0;
		line-height: 0;
		border-top: 2px dotted #a9a9a9;
	}
	h1 {
		color: #0065cb;
		font-size: 32px;	/*24pt*/
		font-family: 微软雅黑;
		padding-right: 20px;
	}
	.desc {
		color: #0065cb;
		font-size: 19px;	/*14pt*/
		padding: 20px;
	}

	.key.label {
		background-color: #414141;
		background-image: -webkit-linear-gradient(top, #555, #222);
		background-image: -ms-linear-gradient(top, #555, #222);
		background-repeat: repeat-x;
	}
	.footer .log {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		color: #7f7f7f;
	}
/** PPT
#ppt-introduce ****/
	.introduce .content {
		padding-left: 100px;
	}
	.introduce a {
		text-decoration: none;
	}
	.introduce .content > dl > dt {
		margin: 10px 0;
	}
	.introduce .name:after,
	.introduce .id:before
	{
		background-color: gray;
		color: white;
		display: inline-block;
		width: 22px;
		height: 22px;
		font-size:  30px;
		line-height: 25px;
		height: 25px;
		padding: 0px 3px;
		border-radius: 20px;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
		font-weight: bold;
		content: '@'
	}
	.introduce .content {
		font-size: 28px;
	}
	.label-group a,
	.label-group span,
	.label {
		display: inline-block;

		color: #FFFFFF;
		vertical-align: baseline;
		white-space: nowrap;
		padding: 1px 4px 2px;

		border-radius: 3px;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
		box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.196), 0px 1px 2px rgba(0, 0, 0, 0.047);
		border-bottom-color: rgba(0, 0, 0, 0.251);
		border-left-color: rgba(0, 0, 0, 0.102);
		border-right-color: rgba(0, 0, 0, 0.102);
		border-top-color: rgba(0, 0, 0, 0.102);				
	}
	.introduce .content .product-list a{
		font-weight: 700;
		background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
		background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
		background-color: #3A87AD;
	}
	.introduce .content .project-list span{
		background-color: #5BB75B;
		background-repeat: repeat-x;
		background-image: -webkit-linear-gradient(top, #62C462, #51A351);
		background-image: -o-linear-gradient(top, #62C462, #51A351);
	}
	.introduce .current-focus .label{
		background-color: #F89406;
		background-color: #FAA732;
		background-image: -o-linear-gradient(top, #FBB450, #F89406);
		background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
	}
	.contact a,
	.contact a:visited
	{
		color: #0088CC;
	}
	abbr {
		border-bottom-style: dotted;
		border-bottom-width: 1px;
	}
	/*
	:hover {
		background: rgba(255, 255, 255, 0.2);
	}
	*/


/** PPT
#ppt-summary 
{ ****/

	.dir {
		background: white;
	}
	.dir h2 {
		font-size: 100px;
		color: #eee;
		text-shadow: 1px 1px 2px gray, 0 0 0  black; #159326;
	
				/*.dir a{
				#EEE
	text-shadow: 1px 1px 2px white, 0 0 0  black; #159326;
				color: rgba(200, 200, 200, 0.8);
				text-shadow: 1px 1px 2px #08C, 0 0 0 black;
				}*/

		width: 400px;
		text-align: center;
		border-bottom: 2px solid #eee;
	}
	.dir ol .current {
		font-size: 50px;
	}
	.dir ol {
		list-style: none;
		margin-left: 100px;
		font-size: 32px;
	}
	.dir.summary h2{
		width: 600px;
		font-size: 60px;
	}
	.dir.summary .content {
		margin-left: 100px;
		margin-top: 80px;
	}
	.dir.summary .content dt{
		font-size: 48px;
		margin: 25px 0;
	}
	.dir.summary .content dd {
		font-size: 32px;
	}
/* } */


/** PPT
#ppt-trans1
{ ****/

	.trans1 .word {

		font-size: 40px;
		-webkit-transform-origin:left top;
		-ms-transform-origin:left top;

		-webkit-transform: translate(320px,0) rotate(-45deg);
		-ms-transform: translate(320px,0) rotate(-45deg);

		-webkit-transition: -webkit-transform 2s ease-in-out;
	}
	.trans1 .word:hover {
	  -webkit-transform: rotateZ(-5deg);
	}
/*
} */

/** PPT
#ppt-simple-dev
{ ****/
				table {
					width: 100%;
					border-spacing: 0;
					border: 0;
					border-collapse: collapse;
				}
				 td,
				 th {
					border: 2px solid white;
					line-height: 2;
					padding: 2px 5px;
				}
				 thead{
					background: #4e80bc;
					color: white;
					font-size: 20px;
					font-weight: bold;
					border-bottom: 3px solid white;
				}
				 tbody tr:nth-child(odd) {
					background: #CFD7E7;
				}
				 tbody tr:nth-child(even) {
					background: #E8ECF3;
				}
/* } */


/** PPT
#ppt-trans2
{ ****/
	.trans2 .word {

		font-size: 40px;
		-webkit-transform-origin:left top;
		-ms-transform-origin:left top;

		-webkit-transform: translate(250px,100px) rotate(-45deg);
		-ms-transform: translate(250px,100px) rotate(-45deg);

		-webkit-transition: -webkit-transform 2s ease-in-out;
	}
	.trans2 .word:hover {
	  -webkit-transform: rotateZ(-5deg);
	}
/* } */


/** PPT
#ppt-trans3
{ ****/
		.trans3 .content {
			margin-top: 0;
		}
		.trans3 .word {

			font-size: 40px;
			-webkit-transform-origin:left top;
			-ms-transform-origin:left top;

			-webkit-transform: translate(250px,0) rotate(-45deg);
			-ms-transform: translate(250px,0) rotate(-45deg);

			-webkit-transition: -webkit-transform 2s ease-in-out;
		}
		.trans3 .word:hover {
		  -webkit-transform: rotateZ(-5deg);
		}
/* } */


/** PPT
#ppt-
{ ****/

/* } */

