.menu{
	float:left;
	font-size:18px;
	position:relative;
	width:50px;
	border:4px solid #888;
	z-index:999;
	cursor:pointer;
}
.menu:first-child{
	border-right:0;
}

.menu ul{
	position:absolute;
	background:#FFFFFF;
	top:24px;
	left:-10px;
	padding:0;
	margin:0;
	height:0px;
	width:140px;
	overflow:hidden;
}
.menu .submenu{
	border:4px dashed blue;
	border-top:0;
	height:35px;
}


.menu:hover ul{
	height:280px;
	opacity:1;
}

.menu:active{
	border-color: red;
}
.menu .submenu:first-child{
	border:4px dashed blue;
	background:#ddd;
}
.menu .submenu:nth-child(even){
	background:#ddd;
}

.menu .submenu:hover{
	background:yellow;
	cursor:pointer;
}


.tab-group{
	position:relative;
	height:80px;
}
.tab, .tab span{
	float:left;
}
.tab{
	float:left;
	border:1px solid red;
	border-left-width:0;
	cursor:pointer;
	background:#FFF;
	width:60px;
	height:24px;
	margin:0px;
	padding:0px;;
	font-size:14px;
	padding:4px;
	margin-top:2px;
}
.tab:first-child{
	border:1px solid red;
	border-left-width:1
}
.tab:last-child{
	border-right-width:40px;
	clear:right;
}
.tab:hover{
	background:yellow;
	font-weight:bold;
	margin-top:0px;
	padding-top:6px;
}
.tab ul{
	float:left;
	clear:both;
	margin:0px;
	padding:0px;
	position:absolute;
	top:26px;left:0px;
	border:1px solid blue;
	width:600px;height:50px;
	z-index:99;
	padding:24px;
	font-size:24px;
	opacity:0.2;
	background:#0F0;
}
.tab:nth-child(even) ul{
	background:#FF0;
}
.tab:hover ul{
	z-index:100;
	background:#F00;
	opacity:1;
}

body.c1.c2{
	background:blue;
}

.input:focus{
	border:2px solid red;
}
.input:hover{
	background:yellow;
}
.input:active{
	border:3px dashed blue;
}

input[type='checkbox']{
	background:blue;
}
input[type='radio']:checked{
	background:red;
}


