p.test {
    background: skyblue;
}

#inline:after {
    display: inline;
    background-color: yellow;
    content: "World!";
    padding-left: .3em;
}

#block:after {
    display: block;
    font-family: "Courier New";
    background-color: red;
    content: "World!";
}

 