            .list {
                color: gray;
            }
            .list li:first-child {background-color:green;}
            .list li:last-child {background-color: blue;}
            .list li:nth-child(odd) {color: orange}
            .list li:nth-child(even) {color: red}
        