html,body{margin:0;padding:0;width:100%;height:100%;overflow:hidden;}
body>div{
	position:absolute;
	background:blue;
	width:100%;
	height:100%;
	left:-100%;
	transition-property:left,top,transform,opacity;
    transition-duration:0.8s;
	-ie-transition-property:none;
}
body>div:nth-child(3){
	top:-100%;
}
body>div:nth-child(4),body>div:nth-child(6){
	background:yellow;
	left:100%;
}
body>div:nth-child(2),body>div:nth-child(6){
	background:green;
	top:100%;
}
body[state-x='1']>div:nth-child(1),
body[state-x='2']>div:nth-child(2),
body[state-x='3']>div:nth-child(3),
body[state-x='4']>div:nth-child(4),
body[state-x='5']>div:nth-child(5),
body[state-x='6']>div:nth-child(6)
{
	top:0;left:0;
}


body[state-y='0'][state-x='1']>div:nth-child(1),
body[state-y='0'][state-x='2']>div:nth-child(2),
body[state-y='0'][state-x='3']>div:nth-child(3),
body[state-y='0'][state-x='4']>div:nth-child(4),
body[state-y='0'][state-x='5']>div:nth-child(5),
body[state-y='0'][state-x='6']>div:nth-child(6)
{
	top:30%;left:5%;
	width:20%;height:50%;
	transform:skew(0,15deg);
}
body[state-y='0'][state-x='1']>div:nth-child(2),
body[state-y='0'][state-x='2']>div:nth-child(3),
body[state-y='0'][state-x='3']>div:nth-child(4),
body[state-y='0'][state-x='4']>div:nth-child(5),
body[state-y='0'][state-x='5']>div:nth-child(6),
body[state-y='0'][state-x='6']>div:nth-child(1)
{
	top:40%;left:30%;
	width:30%;height:50%;
}
body[state-y='0'][state-x='1']>div:nth-child(3),
body[state-y='0'][state-x='2']>div:nth-child(4),
body[state-y='0'][state-x='3']>div:nth-child(5),
body[state-y='0'][state-x='4']>div:nth-child(6),
body[state-y='0'][state-x='5']>div:nth-child(1),
body[state-y='0'][state-x='6']>div:nth-child(2){
	top:30%;left:65%;
	width:20%;height:50%;
	transform:skew(0,-15deg);
}

body[state-y='0'][state-x='1']>div:nth-child(4),
body[state-y='0'][state-x='2']>div:nth-child(5),
body[state-y='0'][state-x='3']>div:nth-child(6),
body[state-y='0'][state-x='4']>div:nth-child(1),
body[state-y='0'][state-x='5']>div:nth-child(2),
body[state-y='0'][state-x='6']>div:nth-child(3){
	opacity:0.5;
	top:20%;left:65%;
	width:20%;height:50%;
	transform:skew(0,15deg);
}

body[state-y='0'][state-x='1']>div:nth-child(5),
body[state-y='0'][state-x='2']>div:nth-child(6),
body[state-y='0'][state-x='3']>div:nth-child(1),
body[state-y='0'][state-x='4']>div:nth-child(2),
body[state-y='0'][state-x='5']>div:nth-child(3),
body[state-y='0'][state-x='6']>div:nth-child(4){
	opacity:0.5;
	top:10%;left:30%;
	width:30%;height:50%;
}

body[state-y='0'][state-x='1']>div:nth-child(6),
body[state-y='0'][state-x='2']>div:nth-child(1),
body[state-y='0'][state-x='3']>div:nth-child(2),
body[state-y='0'][state-x='4']>div:nth-child(3),
body[state-y='0'][state-x='5']>div:nth-child(4),
body[state-y='0'][state-x='6']>div:nth-child(5){
	opacity:0.5;
	top:20%;left:5%;
	width:20%;height:50%;
	transform:skew(0,-15deg);
}
