html,body{height:100%;margin:0;padding:0}
div {
	margin:0;padding:0;
	background-color: yellow;
	width: 100%;
	height: 90%;
	max-height: 400px;
	max-width: 600px;
	min-height: 200px;
	min-width: 200px;
}