p.one {
    position: fixed;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 30px;
    background-color: blue;
}

p.two {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 100px;
    height: 30px;
    background-color: #9acd32;

}