h1{font-size:16px;}
.test{overflow:hidden;width:100%;margin:0;padding:0;list-style:none;}
.test li{float:left;width:170px;height:100px;margin:0 5px;padding:10px;border:1px solid #ddd;background-color:#eee;color:#000;
    transition-property:border-color,background-color,color;
    transition-duration:.5s;
    transition-timing-function:ease-in;
}
.test li:hover{border-color:#999;background-color:#bbb;color:#999;}