#demoSliderContainer {
  background: #000;
  box-shadow: 1px 1px 5px #000;
  padding: 0;
  overflow: auto;
  margin: 10px auto;
  width: 650px;
}
    
#demoSlider {
  border: 1px solid #000;
  border-width: 5px 5px 0;
  height: 400px;
  margin: 0 auto;
  width: 600px;
  overflow: hidden;
  position: relative;
}
    
.slide-images .slide-image {
  position: absolute;
}
    
.slide-images .slide-image img {
  z-index: 2;
}
    
.slide-images .slide-image span {
  background: rgba(0,0,0,0.3);
  border-radius: 5px 0 0 0;
  bottom: 4px;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  z-index: 3;
}
.slide-images .slide-image.current img {
  z-index: 12;
}
    
.slide-images .slide-image.current span {
  z-index: 13;
}
    
#demoSliderContainer .options {
  padding: 3px 10px;
  text-align: center;
}
#demoSliderContainer .options a {
  color: #91BECC;
  font-family: Georgia,Serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
#demoSliderContainer .options a:hover {
  color: #D3E5EB;
}
#demoSliderContainer .slide-pager a {
  transition-duration: 0.5s;
}
#demoSliderContainer .slide-pager a.current {
  background-color: #91BECC;
  border-radius: 5px 5px 5px 5px;
  color: black;
  padding: 0 4px;
}
#demoSliderContainer .options .prevSlide {
  float: left;
}
#demoSliderContainer .options .nextSlide {
  float: right;
}
   
 /*transition effect*/
.slide-images .slide-image,
.slide-images .slide-image img {
   transition-duration: 1.5s;
 }
    
 .slide-images.transition-opacity .slide-image {
   opacity: 0;
   width: 0;
 }
    
 .slide-images.transition-opacity .slide-image.current {
   opacity: 1;
   width: 550px;
 }
   
 .slide-images.transition-left .slide-image {
   left: -550px;
   opacity: 0;
 }
    
 .slide-images.transition-left .slide-image.current {
   left: 0;
   opacity: 1;
 }
    
 .slide-images.transition-right .slide-image {
   right: -550px;
   opacity: 0;
 }
 .slide-images.transition-right .slide-image.current {
   right: 0;
   opacity: 1;
 }
    
    
 .slide-images.transition-top .slide-image {
   opacity: 0;
   top: -220px;
 }
 .slide-images.transition-top .slide-image.current {
   opacity: 1;
   top: 0;
 }
    
 .slide-images.transition-bottom .slide-image {
   opacity: 0;
   bottom: -220px;
 }
 .slide-images.transition-bottom .slide-image.current {
   opacity: 1;
   bottom: 0;
 }
    
 .slide-images.transition-cornerzoom .slide-image {
   opacity: 0;
 }
    
 .slide-images.transition-cornerzoom .slide-image.current {
   opacity: 1;
 }
    
 .slide-images.transition-cornerzoom .slide-image img {
   width: 0;
 }
    
 .slide-images.transition-cornerzoom .slide-image.current img {
   width: 550px;
 }
    
 .slide-images.transition-zoom .slide-image {
   opacity: 0;
 }
 .slide-images.transition-zoom .slide-image.current {
   opacity: 1;
 }
 .slide-images.transition-zoom .slide-image img {
   left: -275px;
   position: relative;
   top: -110px;
   width: 1100px;
 }
 .slide-images.transition-zoom .slide-image.current img {
   left: 0;
   top: 0;
   width: 550px;
 }
    
 .slide-images.transition-dezoom .slide-image {
   box-shadow: 2px 2px 8px black;
   opacity: 0;
 }
 .slide-images.transition-dezoom .slide-image.current {
   opacity: 1;
 }
 .slide-images.transition-dezoom .slide-image img {
   left: 275px;
   position: relative;
   top: 110px;
   width: 0;
 }
 .slide-images.transition-dezoom .slide-image.current img {
   left: 0;
   top: 0;
   width: 550px;
 }
   
 .slide-images.transition-rotate .slide-image {
   opacity: 0;
 }
 .slide-images.transition-rotate .slide-image.current {
   opacity: 1;
 }
 .slide-images.transition-rotate .slide-image img {
   width: 550;
   height: 400px;
   position: relative;
   left: -550px;
   top: -220px;
   
  }
  .slide-images.transition-rotate .slide-image.current img {
    width: 550px;
    height: 400px;
    left: 0;
    top: 0;
    transform: rotate(1440deg);
  }
    
    
  #options {
     margin: 20px auto;
     padding: 5px;
     width: 550px;
  }
 