#f {width: 100px; height: 100px; background: #FF0000; position: relative; animation: mymove 5s infinite; cs-background-rgba: ;}
@keyframes mymove { 
  from {left: 0px;} 
  to {left: 200px;} 
}
#button {width: 200px; height: 200px; background: #808080; transition: transform .6s ease-in; animation-duration: 3s; animation-iteration-count: infinite; animation-name: waggle; transition-property: transform; transition-duration: .6s; layout-flow: expression(CS(this,'update')); cs-background-rgba: ;}
@keyframes waggle { 
  0% {transform: translateX(0);} 
  8% {transform: translateX(-11px) rotate(-5deg);} 
  16% {transform: translateX(9px) rotate(3deg);} 
  24% {transform: translateX(-6px) rotate(-3deg);} 
  32% {transform: translateX(3px) rotate(2deg);} 
  40% {transform: translateX(-1px) rotate(-1deg);} 
  48% {transform: translateX(0);} 
}
#container {background: #000000; cs-background-rgba: ;}
.float {float: left; width: 200px; height: 100px;}
html .clearfix .after__--ref-child-_2Eclearfix__ {display: block; font-size: 0; height: 0; clear: both; visibility: hidden;}
.clearfix {cs-target-child-_2Eclearfix: 1;}
.clearfix .after__ {cs-ref: 1; cs-ref-child-_2Eclearfix: 1; layout-flow: expression(CS(this,'update'));}
html .clearfix {cs-gen-after: "."; layout-flow: expression(CS(this,'update'));}
.clearfix .ref-child-_2Eclearfix__ {text-kashida: expression(CS(this,'mc'));}
.hack-box {height: 20px; background: #FFA500; background-color: #808080\9\0; *background-color: #FFFF00; _background-color: #FF0000; cs-background-rgba: ;}
.fix-box {display: none; height: 20px; background: #FF0000; cs-background-rgba: ;}
head cs-config {cs-id: 1351135518604; muti-classes: after__--ref-child-_2Eclearfix__; ref-classes: child-_2Eclearfix;}
