.waggle {-webkit-transition: transform .6s ease-in; -webkit-animation-duration: 3s; -webkit-animation-iteration-count: infinite; -webkit-animation-name: waggle;}
@-webkit-keyframes waggle { 
  0% {-webkit-transform: translateX(0);} 
  8% {-webkit-transform: translateX(-11px) rotate(-5deg);} 
  16% {-webkit-transform: translateX(9px) rotate(3deg);} 
  24% {-webkit-transform: translateX(-6px) rotate(-3deg);} 
  32% {-webkit-transform: translateX(3px) rotate(2deg);} 
  40% {-webkit-transform: translateX(-1px) rotate(-1deg);} 
  48% {-webkit-transform: translateX(0);} 
}
