.transform{
	position:absolute;
	background:blue;
	/**transform:skewX(0deg) rotate(30deg) scale(1,1) translate(20px,20px)*/
}

.transform:hover{
	transform:skewX(50deg) rotate(30deg) scale(1,1) translate(20px,20px);
	background:yellow;
	opacity:0.3;
}
